body {
    background-color: #000000;
    font-family: Tahoma, sans-serif;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    background-image: url("../resources/images/background/background.png");
    background-repeat: no-repeat;
    background-size: 960px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

header h1 {
    text-align: center;
    color: #ff0000;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header h2 {
    text-align: center;
    color: #a30000;
    font-weight: normal;
    font-size: 20px;
    margin-top: 0px;
}

.main {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
}

.nav {
    margin-top: 10px;
}
.nav ul {
    margin: 0;
    padding: 0;
}
.nav li {
    list-style: none;
    float: left;
}
.nav a {
    display: block;
    background-color: #8a7606;
    color: #740000;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #000000;
    border-bottom: none
}
.nav a:hover {
    background-color: #000000
}


/* Clear Fix */
.fix {
    clear: both;
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear:both;
}
.group {
    zoom: 1;
}